/* This is Bulma Import Link */
@import "https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css"; 


@import url('https://fonts.googleapis.com/css2?family=Averia+Serif+Libre&family=Kanit:wght@100;200;300;400;500;600;700;800;900&family=Poppins:wght@100;400&family=Roboto+Flex:opsz,wght@8..144,500&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


:root{

    --purple:#D19EFD;
    --purple-gradient:radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);

}

.html{
    
    scroll-behavior: smooth;

}

body{

    margin:0rem;
    padding:0rem;
 

}

.landing-page{

    margin-top:3.75rem;

}


#greetings{

    font-family:'Montserrat';
    font-size:medium;

}

#name{

    width:50%;
    word-wrap: inherit;
    font-size:5rem;

}

.profile_img{

    height:50vh;
    width:auto;
    border-radius:50%;

}

.profile_btn{
    
    width:16rem;
    display:flex;
    flex-direction:row;
    align-items: center;
    border:.1rem solid var(--purple);
    justify-content:space-between;

}

.profile_btn>p{

    padding:.5rem 1rem;
    font-family:'Montserrat';
    font-weight: bold;

}

#profile_btn_ico{

    display:flex;
    height:inherit;
    width:25%;
    padding:0px;
    background-color:var(--purple);
    border: .1rem solid var(--purple);

}


